

.item  {
  color: green;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255,255,0.2)), url("za.jpg");
}

.card{
  background-color: #f8d09f
}

input {
  background-color: #f8d09f
}

